/*GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --color-primary: #487f5a;
    --color-primary-600: #3a6648;
    --color-grey: #d9d9d9;
    --color-grey-600: #ececec;
    --color-dark: #343a40;
}

body{
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-dark)
}

.bg-green{
    background-color: var(--color-primary);
}

.text-grey{
    color: var(--color-grey);
}

.mh-100vh{
    min-height: 100vh;
}

.h-70vh{
    height: 70vh;
}

.h-80vh{
    height: 80vh;
}

.mw-400{
    min-width: 400px;
}

a{
    color: var(--color-primary);
    font-weight: bold;
}

a:hover{
    color: var(--color-primary);
}

.btn-primary{
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.btn-primary:hover{
    border-color: var(--color-primary-600);
    background-color: var(--color-primary-600);
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus{
    border-color: var(--color-primary-600);
    background-color: var(--color-primary-600);
    box-shadow: 0 0 5px 0 var(--color-primary-600);
}

.form-control:focus{
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.15rem var(--color-primary-600);
}

.padding-main{
    padding-top: 6rem;
}

@media screen and (min-width: 768px){
    .padding-main{
        padding-top: 8rem;
    }
}

/*WELCOME*/
.grid-masonry{
    height: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.grid-masonry img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.grid-masonry__item-a{
    grid-row: 1 / span 3;
}

.grid-masonry__item-b{
    grid-row: 1 / span 2;
}

/*INICIO*/
.card-decorated{
    border-left: 4px solid var(--color-primary);
}

.card-thumbnail-circle{
    border-radius: 50%;
    width: 200px;    
    height: 200px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 4px 0 var(--color-dark);
}

.text-quotes{
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-quotes::before{
    content: '\275D';
    color: var(--color-dark);
    font-size: 2rem;
}

.text-quotes::after{
    content: '\275E';
    color: var(--color-dark);
    font-size: 2rem;
}

/*CHARACTERS*/
.card-thumbnail{
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.thumbnail-circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.badge-character{
    background-color: var(--color-grey-600);
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.information-dead{
    background: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    padding: 1rem;    
    font-size: 2rem;
    color: #ffff;
}

.information-dead__title{
    font-size: 1rem;
}